@import 'reset';
@import 'animations';

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body.disable-scroll {
	overflow-y: hidden;
}

a,
button {
	cursor: pointer;
}

.wrapper {
	// visibility: hidden; // for loader
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: $background-color;
	position: relative;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.reserve-bg {
	background-color: $text-color;
}

.title {
	font-family: 'Dancing Script', cursive;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	color: $text-color;

}

.text {
	font-family: 'Delius Swash Caps', cursive;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: $text-color;
}

.label {
	font-family: 'Delius Swash Caps', cursive;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: $text-color;
}

.span {
	font-family: 'Delius Swash Caps', cursive;
	font-weight: 400;
	font-size: 28px;
	line-height: 150%;
}

.btn-1,
.btn-2 {
	width: 260px;
	height: 90px;
	font-family: 'Delius Swash Caps', cursive;
	font-size: 24px;
	line-height: 30px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all .8s ease-out;
}

.btn-1 {
	color: $text-color-light;
	background-color: $acsent-color;

	&:hover {
		background-color: $text-color-2;
	}

	&:active {
		background-color: $text-color;
	}
}

.btn-2 {
	color: $text-color-2;
	border: 2px $text-color-2 solid;

	&:hover {
		background-color: #963952;
		color: $text-color-light;
	}

	&:active {
		background-color: #521F2D;
		color: $text-color-light;
	}
}

.close {
	width: 57px;
	height: 57px;
	position: absolute;
	right: 30px;
	top: 30px;
}

.container {
	padding: 0 120px;
}

.popup {
	position: fixed;
	background-color: rgba(37, 12, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;

	&__inner {
		width: 60%;
		height: 550px;
		border-radius: 40px;
		background-color: $text-color;
		position: relative;
		padding: 0 90px;
		display: flex;
		align-items: center;
	}

	&__add {
		position: absolute;
		bottom: 30px;
		right: 140px;
	}
}

.reserve {
	background-color: $text-color;
	padding: 90px 0 120px;
}

.reserve-btn {
	position: absolute;
	bottom: 0;
	right: 163px;
}

/* media */

@media (max-width: 1600px) {
	.span {
		font-size: 24px;
	}

	.btn-1,
	.btn-2 {
		font-size: 21px;
		line-height: 26px;
	}

	.popup {
		&__inner {
			width: 68%;
		}

		&__add {
			right: 80px;
		}
	}

	.reserve-btn {
		right: 60px;
	}
}


@media (max-width: 1400px) {
	.container {
		padding: 0 100px;
	}

	.text {
		font-size: 21px;
	}

	.title {
		font-size: 42px;
		line-height: 50px;
	}

	.label {
		font-size: 21px;
		line-height: 26px;
	}

	.popup {
		&__inner {
			width: 84%;
		}
	}

	.reserve {
		padding: 60px 0 90px;
	}

	.reserve-btn {
		right: 0;
	}
}

@media (max-width: 1200px) {
	.popup {
		&__add {
			right: 30px;
		}
	}
}

@media (max-width: 1000px) {
	.container {
		padding: 0 80px;
	}

	.text {
		font-size: 18px;
	}

	.title {
		font-size: 28px;
		line-height: 34px;
	}

	.label {
		font-size: 18px;
		line-height: 23px;
	}

	.span {
		font-size: 21px;
	}

	.btn-1,
	.btn-2 {
		width: 200px;
		height: 70px;
		font-size: 18px;
		line-height: 23px;
	}

	.close {
		width: 40px;
		height: 40px;
	}

	.popup {
		&__inner {
			padding: 0 60px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 60px;
	}

	.text {
		font-size: 16px;
	}

	.title {
		font-size: 24px;
		line-height: 29px;
	}

	.label {
		font-size: 16px;
		line-height: 20px;
	}

	.span {
		font-size: 18px;
	}

	.btn-1,
	.btn-2 {
		width: 140px;
		height: 55px;
		font-size: 16px;
		line-height: 20px;
	}

	.close {
		right: 20px;
		top: 20px;
	}
}

@media (max-width: 700px) {
	.popup {
		&__inner {
			padding: 40px 40px;
			align-items: baseline;
		}

		&__add {
			right: 20px;
			bottom: 20px;
		}
	}

	.reserve {
		padding: 40px 0 60px;
	}
}

@media (max-width: 500px) {
	.container {
		padding: 0 40px;
	}

	.span {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	.popup {
		&__add {
			bottom: 10px;
			right: 10px;
		}
	}
}

@media (max-width: 320px) {
	.popup {
		&__add {
			right: 2px;
		}
	}
}